label:has(+ input[required])::after,
label:has(+ textarea[required])::after,
label:has(+ select[required])::after {
    content: " *";
    color: red;
}

input.error,
textarea.error,
select.error {
    border-color: rgb(247, 19, 19);
}

#sidebar {
    overflow-x: auto;
    scrollbar-width: thin;
    transition: all 0.3s ease;
}

#sidebar .side-menu li a:hover,
#sidebar .side-menu li a.active {
    background-color: #eff6ff;
    color: var(--color-primary);
    transition: all 0.2s ease-in-out;
}

.page-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.dt-container div:nth-child(2) {
    overflow-x: auto;
    scrollbar-width: thin;
}

.dataTable {
    border-radius: 5px;
    overflow: hidden;
}

/* .dataTable {
} */

.dataTable th {
    background-color: var(--color-primary);
    color: #fff;
}
